.err-container{
   text-align: center;
}
.err-img{
    width: 40%;
    margin: 10px; 
    padding: 10px;
}
.err-msg{
    font-size: 30px;
    margin: 10px;
    padding: 10px;
    color: #f9780e;
    font-weight: bold;
}