.res-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}
.filter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}

.search {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
    margin: 7px;
}
.search_box {
    flex: 1;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}

.srch-button {
    padding: 10px 12px;
    border-radius: 3px;
    border: none;
    background-color: #b0adaa;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}


.srch-button:hover {
    background-color: #e67300;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.srch-button:active {
    background-color: #d65a00;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.filter-btn {
    padding: 10px 20px;
    border-radius: 3px;
    background-color: #fc8019;
    color: white;
    border: none;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 10px;
}

.filter-btn:hover {
    background-color: #e67300;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.filter-btn:active {
    background-color: #d65a00;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: scale(1);
}