* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'proxima-nova', Arial, Helvetica Neue, sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
}

.logo {
  width: 120px;
}
.logo:hover{
  transform: scale(1.1);
  transition: 0.5s;
  cursor: pointer;
}
@media (max-width: 768px) {
  .logo {
    width: 80px;
  }
}

.nav-items>ul {
  display: flex;
  list-style: none;
  font-size: 17px;
}

.nav-items>ul>li {
  font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
  padding: 10px;
  margin: 10px;
  color: rgb(120, 115, 115);
}
.nav-items>ul>li:hover {
  font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
  padding: 10px;
  margin: 10px;
  color: #fc8019;
}
@media (max-width: 768px) {
  .header {
    padding: 10px;
  }

  .nav-items>ul {
    font-size: 18px;
  }
}