.body{
    padding: 0 40px;
}

.res-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Adjust content spacing */
    align-items: center; /* Center-align items */
    width: 100%;
    font-size: 12px;
    color: rgb(99, 94, 94);
    overflow: hidden;
    padding: 8px; 
    cursor: pointer;
}

.res-card:hover {
    transform: scale(1.1);
    transition: 0.5s;
    background-color: rgb(255, 255, 255);
    color: rgb(107, 103, 103);

}

.res-img {
    width:70%;
    height: 150px;
    border-style: none;
    margin: 0;
    padding: 0;
    border-radius: 15px;
    object-fit: cover;
}
.res-card h2, .res-card h4, .res-card h6 {
    margin:4px 0; /* Remove default margins */
    padding: 0; 
    text-align: center;
}  
.order-btn {
    display: block;
    width: auto; /* Adjust width considering padding or border if needed */
    /* margin: 8px auto;  */
     padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 3px solid rgb(239, 231, 231);
    color: rgb(107, 103, 103);
    margin-top: auto;
}


.order-btn:hover {
    background-color: white;
    color: #fc8019;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1);
    transition: 0.5s;
} 

.res-name{
    text-decoration: none !important;
    color: inherit;
    border: none; /* Remove any default borders */
    background: none;
}